*.ini
/webDirectory.core/webDirectory.server/src/vendor
/webDirectory.core/webDirectory.server/src/composer.lock
*.env
/webDirectory.core/.idea
*/vendor
*composer.lock
*.idea
*vendor
/webDirectory.core/webDirectory.api/src/vendor
/webDirectory.web/node_modules