{% extends 'base.twig' %}

{% block title %}
    CreationEntree - Annuaire
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2 class="text-center">Créer une entrée</h2>
        <div class="alert alert-success" role="alert">
            Entrée créée avec succès !
        </div>
    </div>
{% endblock %}