{% extends 'base.twig' %}

{% block body %}
    <h1>Register</h1>
    <form method="post" url="register">
        <div>
            <label for="Cuser_id">Email:</label>
            <input type="email" id="Cuser_id" name="Cuser_id" required>
        </div>
        <div>
            <label for="Cpassword">Mot de passe:</label>
            <input type="password" id="Cpassword" name="Cpassword" required>
        </div>
        <div>
            <label for="CCpassword">Confirmer le mot de passe:</label>
            <input type="password" id="CCpassword" name="CCpassword" required>
        </div>
        <div>
            <button type="submit" name="createaccount">Créer compte</button>
        </div>
    </form>
{% endblock %}
